@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Orbitron');

:root {
  --bg-color: white;
  --typewriterSpeed: 2.2s;
  --typewriterCharacters: 125;
}

html {
    scroll-behavior: smooth;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.header {
    white-space: nowrap;
    color: white;
    font-family: Orbitron;
}

.nav {
  font-family: Orbitron;
}

.type-writer {
  position: relative;
  width: max-content;
}

.type-writer::before,
.type-writer::after {
  content: "";
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
}

.type-writer::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
}

.type-writer::after {
  width: 0.125em;
  background: #032a5d;
  animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards, blink 750ms steps(var(--typewriterCharacters)) infinite;
}


@keyframes typewriter {
  to {
    left: 100%
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 863px) {
  .type-writer::after {
    opacity: 0;
  }
}