@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Orbitron');

@import url('https://fonts.googleapis.com/css?family=Orbit');

:root {
  --typewriterSpeed: 2.2s;
  --typewriterCharacters: 125;
}

#root {
  min-height: 100vh;
  position: relative;
  background-color: black;
}

footer {
  position: absolute;
  bottom: 0;
}

html {
    scroll-behavior: smooth;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.header {
    display: flex;
    color: white;
    font-family: Orbitron;
    @media screen and (max-width: 768px) {
      font-size: 1.5rem;
    }
}

.home {
  background-image: url(./assets/images/earth.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-bottom: 6rem;
}


.tagline {
  font-family: Orbit;
  color: white;
  padding-top: 10rem;
  margin-bottom: 5rem;
}

.intro {
  font-family: Orbit;
  color: white;
  padding-top: 2.5rem;
  padding-left: 25%;
  padding-bottom: 15rem;
}

.aboutLink {
  font-family: Orbitron;
  color: white;
  display: flex;
  justify-content: center;
}

.aboutLink:hover {
  color: #16a34a;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem; 
}

#about {
  background-image: url(./assets/images/city.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-bottom: 5rem;
  font-family: orbit;
  @media screen and (max-width: 768px) {
    background-attachment: fixed;
  }
}

#projects {
  background-color: black;
  padding-bottom: 5rem;
  font-family: orbit;
}

#contact {
  font-family: Orbit;
  background-image: url(./assets/images/contactbot.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.myinfo {
  margin-bottom: 20rem;
}

.project-links {
  width: 3rem;
  height: 3rem;
  padding: 0.25rem;
}

.project-card:hover {
  transform: scale(1.1);
  transition: all ease 500ms;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  left: 35px;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 2px 0;
  border-radius: 0.5rem;

  position: absolute;
  z-index: 1;
  top: 100%;
  right: -100%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.wiggle.project-links:hover {
  animation: wiggle 600ms infinite;
  animation-timing-function: linear;
}

@keyframes wiggle {
  0% {
      transform: translate(3px, 0);
  }

  50% {
      transform: translate(-3px, 0);
  }

  100% {
      transform: translate(3px, 0);
  }
}


.about {
  color: white;
  background-color: gray;
  background: rgba(0, 0, 0, 0.7);
  margin: 5rem;
}

.me {
  width: 30rem;
  height: 30rem;
  margin: 5rem;
  border-radius: 50%;
  @media screen and (max-width: 768px) {
    width: 15rem;
    height: 20rem;
  }
}

.unordered-list li {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

li {
  padding: 10px;
}

.abtTxt {
  @media screen and (max-width: 768px) {
    display: inline-block;
    padding: 20px;
  }
}

@keyframes typewriter {
  to {
    left: 100%
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

